.ck.ck-link-form .tooltip-button-save {
  color: #008a00;
}

.ck.ck-link-form .tooltip-button-cancel {
  color: #db3700;
}

.ck.ck-link-actions .tooltip-label-label {
  text-align: center;
  margin: auto 0;
}
